target/
temp/

**/*.db
**/*.db-shm
**/*.db-wal
**/*.db3
**/*.db3-shm
**/*.db3-wal
**/*.identity.json
**/*.log
**/*.s3db
**/*.sl3
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/*.sqlite3
**/*.sqlite3-shm
**/*.sqlite3-wal
**/*.zsn-db
**/*.zsn-file

Cargo.lock
